/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -296px;
    padding-bottom: 296px;
}
