<div class="container mt-3 mb-5">
    <div class="row text-center justify-content-center">
        <img class="img-thumbnail" src="../../assets/img/branko.jpeg" alt="">
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-12 text-center">
            <h4>Branko Fulurija</h4>
        </div>
        <div class="col-12 text-center">
            <p>Software Engineer</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Work Experience</h4>
            <ul class="timeline">
                <li>
                    <a href="https://www.linkedin.com/company/kumulus-soft/about/">Software Engineer @ Kumulus Soft</a>
                    <button id="cv-1" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-1')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-1')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">12/2018 - Present</a>
                    <p [hidden]="!isExpanded('cv-1')">
                        Implemented cloud solutions using AWS. Designed and implemented serverless microservices.
                        Implemented RESTful APIs to support client applications. Built frontend clients for development
                        and production.
                        Used Lambda, DynamoDB, S3, API Gateway, RDS, Neptune.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://www.microsoft.com/sr-latn-rs/mdcs">Intern Software Engineer @
                        Microsoft</a>
                    <button id="cv-2" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-2')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-2')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">08/2018 – 11/2018</a>
                    <p [hidden]="!isExpanded('cv-2')">
                        Built Office-Addin which will help students to learn and
                        practice math problems. Combined and integrated services from multiple Office
                        products. Implemented both frontend and backend: C++, C#, TypeScript,
                        React.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://www.microsoft.com/sr-latn-rs/mdcs">Intern Software Engineer @
                        Microsoft</a>
                    <button id="cv-3" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-3')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-3')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">08/2017 – 12/2017</a>
                    <p [hidden]="!isExpanded('cv-3')">
                        Created an internal Big Data tool that provides insights about system health and performance.
                        The tool helps to discover performance bottlenecks and quickly
                        recover from failures.
                        Developed with C# and proprietary Big Data Engines.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="http://www.koraknapred.rs/">Programming Lecturer @ Korak Napred</a>
                    <button id="cv-4" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-4')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-4')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">10/2016 – 08/2018</a>
                    <p [hidden]="!isExpanded('cv-4')">
                        Preparing high school students for national programming
                        competitions. Teaching advanced computer science topics such as dynamic
                        programming, graph theory, data structures.
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-md-6 offset-lg-0">
            <h4>Certificates</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="https://aws.amazon.com/certification/">AWS Certified Big Data -
                        Specialty</a>
                    <button id="cv-5" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-5')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-5')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">11/2019</a>
                    <p [hidden]="!isExpanded('cv-5')">
                        Implement core AWS Big Data services according to basic architecture best practices.Design and
                        maintain Big Data.
                        Leverage tools to automate data analysis.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://aws.amazon.com/certification/">AWS Certified Sysops Administrator
                        Associate</a>
                    <button id="cv-6" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-6')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-6')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">03/2019</a>
                    <p [hidden]="!isExpanded('cv-6')">
                        Deploy, manage, and operate scalable, highly available, and fault-tolerant systems on AWS.
                        Implement and control the flow of data to and from AWS.
                        Select the appropriate AWS service based on compute, data, or security requirements.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://aws.amazon.com/certification/">AWS Certified Developer
                        Associate</a>
                    <button id="cv-7" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-7')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-7')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">01/2019</a>
                    <p [hidden]="!isExpanded('cv-7')">
                        Demonstrate an understanding of core AWS services, uses, and basic AWS architecture best
                        practices.
                        Demonstrate proficiency in developing, deploying, and debugging cloud-based applications using
                        AWS.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://aws.amazon.com/certification/"> AWS Certified Solutions Architect
                        Associate</a>
                    <button id="cv-8" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-8')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-8')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">11/2018</a>
                    <p [hidden]="!isExpanded('cv-8')">
                        Effectively demonstrate knowledge of how to architect and deploy secure and robust applications
                        on AWS technologies.
                        Define a solution using architectural design principles based on customer requirements.
                        Provide implementation guidance based on best practices to the organization throughout the life
                        cycle of the project.
                    </p>
                </li>

            </ul>
        </div>

        <div class="col-md-6 mt-lg-4">
            <h4>Education</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="https://raf.edu.rs/">Faculty of Computing, Computer Science</a>
                    <button id="cv-9" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-9')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-9')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">2016 - Present</a>
                    <p [hidden]="!isExpanded('cv-9')">
                        Currantly a Computer Science student at the Faculty of Computing in Belgrade.
                        Final year student.
                        Expected graduation in 2020.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://www.totoprayogo.com/#">Grammar School Ivo Andric</a>
                    <button id="cv-2" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-10')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-10')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">2012 - 2016</a>
                    <p [hidden]="!isExpanded('cv-10')">High School finished in Visegrad, Bosnia and Herzegovina from
                        2012 to 2016.</p>
                </li>
            </ul>
        </div>

        <div class="col-md-6 offset-lg-0 mt-lg-4">
            <h4>Achievements</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="http://www.fon.bg.ac.rs/2018/04/zatvoren-je-peti-po-redu-fon-hakaton/">FON
                        Hackathon - 1st Place</a>
                    <button id="cv-11" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-11')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-11')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">04/2018</a>
                    <p [hidden]="!isExpanded('cv-11')">
                        Distributed cloud-based analysis system that consumes and
                        processes telco data to create interactive data visualization.
                        The app contains a tool for personalized package recommendation,
                        which uses clustering as well as a tool for detecting irregularities in
                        the network in real-time.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://stats.ioinformatics.org/people/5855">International Olympiad in
                        Informatics</a>
                    <button id="cv-12" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-12')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-12')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">08/2016</a>
                    <p [hidden]="!isExpanded('cv-12')">
                        Member of the four-man team that represented Bosnia and Herzegovina.
                    </p>
                </li>
                <li>
                    <a target="_blank" href="https://www.totoprayogo.com/#">Balkan Olympiad in Informatics - Bronze
                        Medal</a>
                    <button id="cv-13" class="btn btn-sm btn-primary float-right ml-3" (click)="toggleElement($event)">
                        <i *ngIf="isExpanded('cv-13')" class="fas fa-arrow-up"></i>
                        <i *ngIf="!isExpanded('cv-13')" class="fas fa-arrow-down"></i>
                    </button>

                    <a class="float-right">07/2016</a>
                    <p [hidden]="!isExpanded('cv-13')">
                        Member of the four-man team that represented Bosnia and Herzegovina. Individually won the Bronze
                        Medal.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>