<div class="container mt-3 mb-5">
    <div class="row text-center justify-content-center">
        <img class="img-thumbnail" src="../../assets/img/branko.jpeg" alt="">
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-12 text-center">
            <h4>Branko Fulurija</h4>
        </div>
        <div class="col-12 text-center">
            <p>Software Engineer</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <app-cv-section [items]="workExperienceItems" [title]="'Work Experience'"></app-cv-section>
        </div>
        <div class="col-md-6">
            <app-cv-section [items]="certificatesItems" [title]="'Certificates'"></app-cv-section>
        </div>
        <div class="col-md-6 mt-3">
            <app-cv-section [items]="educationItems" [title]="'Education'"></app-cv-section>
        </div>
        <div class="col-md-6 mt-3">
            <app-cv-section [items]="achievementsItems" [title]="'Achievements'"></app-cv-section>
        </div>
    </div>
</div>